<!-- <p>rental works!</p> -->

<div style="text-align: center; margin: auto;" class="mb-3 w-25">
    <form #rentalForm="ngForm" (ngSubmit)="onSubmit(rentalForm.value)">
        <div>
            <label for="renterName" class="form-label">姓名: </label>
            <input id="renterName" name="renterName" ngModel required class="form-control">
        </div>
        <div>
            <label for="phone" class="form-label">電話: </label>
            <input id="phone" name="phone" ngModel required class="form-control">
        </div>
        <div>
            <label for="courtArea" class="form-label">地區場館: </label>
            <input id="courtArea" name="courtArea" [(ngModel)]="court.area"
                style="pointer-events: none; background-color: lightgray;" class="form-control">
        </div>
        <div>
            <label for="courtName" class="form-label">場地: </label>
            <input id="courtName" name="courtName" [(ngModel)]="court.name"
                style="pointer-events: none; background-color: lightgray;" class="form-control">
        </div>
        <div>
            <label for="time" class="form-label">租借時間: </label>
            <select id="time" name="time" ngModel required class="form-control">
                <option *ngFor="let time of availableTimes" [value]="time">{{time}}</option>
            </select>
        </div>

        <br><input type="submit" value="確認" [disabled]="rentalForm.invalid">
    </form>
    <br><a routerLink="../../court-status" class="btn btn-outline-secondary">上一頁</a>
</div>